Currently active collection:
    {{ collection.name }}

Usage: poetcli collection-active -i [collection id]

Use '-i' argument to set the active collection in which to save poems
Use 'poetcli collection-list' to display available collections
